/* Binary clock */

.clock-main {
    color: #cdcdcd;
    margin-top: 155px;
    float: left;
    font-size: 28px;
    line-height: 34px;
    width: 645px;
    cursor: pointer;
}

.clock-cell {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 20px 20px 0;
    border-radius: 20%;
}
.clock-cell.dark {
    background-color: #FFD1B2;
}
.clock-cell.light {
    background-color: #FF6600;
}

.clock-cell.number.show{
  color: #FF6600;
}

.clock-cell.number.not-show{
  color: transparent;
}

.clock-col {
    margin: 0;
    float: left;
}

.clock-pair {
    margin: 0;
    float: left;
}
.clock-pair:not(:last-child) {
    margin-right: 20px;
}