/* Binary clock */

.clock-main {
    color: #cdcdcd;
    margin-top: 155px;
    float: left;
    font-size: 28px;
    width: 700px;
    cursor: pointer;
}

.clock-cell {
    width: 80px;
    height: 80px;
    margin: 0 20px 20px 0;
    border-radius: 20%;
    display:inline-block;
    float:left;
}
.clock-cell.dark {
    background-color: #FFD1B2;
}
.clock-cell.light {
    background-color: #FF6600;
}

.clock-cell.number.show{
  color: #FF6600;
  text-align: center;
  margin-top: 23px;
}

.clock-cell.number.not-show{
  color: transparent;
}

.clock-row {
    float:left;
    height: 80px;
    margin-bottom: 20px;
}