body {
  color: #0F0F0F;
  font-family: 'Esteban', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-top : 0px;
  margin-left : 0px;
  background: #FCFCFC;
}

#h1{
  font-size: 28px;
  margin-bottom: 20 px;
}

#left{
 width: 100px;
 height: 300px;
 float:left;
}

#right{
 width: 80%;
 float:right
}

#link-text{
  text-decoration: none;
  color: blue;
}

#about-text{
  margin-top : 50px;
  margin-right : 60px;
  max-width: 700px;
}

#article-header{
   font-size: 23px;
}

#article-content{
   font-size: 18px;
}

#article-link{
   font-size: 23px;
   text-decoration: none;
   color: #0F0F0F;
}

#footer{
  height: 70px;
  margin-top: 50 px;
  margin-bottom: 20 px;
  text-decoration: none;
}