body {
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

#header{
  margin-top: 1cm;
  margin-left: 5cm;
}

#home-button{
  float:left;
  margin-right: 2px;
}


#button {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #FF6600;
  color:#fff;
  text-decoration: none;
  font-size: 16px;
 }

#button:hover{
  font-size: 18px;
  text-decoration: none;
  background: #FF7519;
}